<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon.png')}}">
<title>E-Health</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css')}}">

<link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/fontawesome/css/fontawesome.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/fontawesome/css/all.min.css')}}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/select2.min.css')}}">

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap-datetimepicker.min.css')}}">

<link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/feather/feather.css')}}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css')}}">
</head>
<body>
<div class="main-wrapper">
<div class="header">
<div class="header-left">
<a href="index.html" class="logo">
<img src="{{ url_for('static', filename='assets/img/logo.png')}}" width="35" height="35" alt=""> <span style="font-weight:bold;">E-Health</span>
</a>
</div>
<a id="toggle_btn" href="javascript:void(0);"><img src="{{ url_for('static', filename='assets/img/icons/bar-icon.svg')}}" alt=""></a>
<a id="mobile_btn" class="mobile_btn float-start" href="#sidebar"><img src="{{ url_for('static', filename='assets/img/icons/bar-icon.svg')}}" alt=""></a>
<div class="top-nav-search mob-view">
<form>
<input type="text" class="form-control" placeholder="Search here">
<a class="btn"><img src="{{ url_for('static', filename='assets/img/icons/search-normal.svg')}}" alt=""></a>
</form>
</div>
<ul class="nav user-menu float-end">
<li class="nav-item dropdown d-none d-sm-block">
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown"><img src="{{ url_for('static', filename='assets/img/icons/note-icon-01.svg')}}" alt=""><span class="pulse"></span> </a>
<div class="dropdown-menu notifications">
<div class="topnav-dropdown-header">
<span>Notifications</span>
</div>
<div class="drop-scroll">
<ul class="notification-list">
<li class="notification-message">
<a href="activities.html">
<div class="media">
<span class="avatar">
<img alt="John Doe" src="{{ url_for('static', filename='assets/img/user.jpg')}}" class="img-fluid">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="activities.html">
<div class="media">
<span class="avatar">V</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
</div>
</div>
</a>
</li>
</ul>
</div>
<div class="topnav-dropdown-footer">
<a href="activities.html">View all Notifications</a>
</div>
</div>
</li>
<li class="nav-item dropdown has-arrow user-profile-list">
<a href="#" class="dropdown-toggle nav-link user-link" data-bs-toggle="dropdown">
<div class="user-names">
<h5>{{ admin['First_name'] }} {{ admin['Middle_name'] }} {{ admin['Last_name'] }}  </h5>
<span>Student</span>
</div>
<span class="user-img">
<img src="{{ url_for('static', filename='assets/img/user.jpg')}}" alt="Admin">
</span>
</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="/student/profile">My Profile</a>
<a class="dropdown-item" href="/student/edit-profile">Edit Profile</a>
<a class="dropdown-item" href="/student/logout">Logout</a>
</div>
</li>
</ul>
<div class="dropdown mobile-user-menu float-end">
<a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical"></i></a>
<div class="dropdown-menu dropdown-menu-end">
<a class="dropdown-item" href="/student/profile">My Profile</a>
<a class="dropdown-item" href="/student/edit-profile">Edit Profile</a>
<a class="dropdown-item" href="/student/logout">Logout</a>
 </div>
</div>
</div>
<div class="sidebar" id="sidebar">
<div class="sidebar-inner slimscroll">
<div id="sidebar-menu" class="sidebar-menu">
<ul>
<li class="menu-title">Main</li>
<li class="submenu">
<a href="/student/dashboard"><span class="menu-side"><img src="{{ url_for('static', filename='assets/img/icons/menu-icon-01.svg')}}" alt=""></span> <span> Dashboard </span> <span class="menu-arrow"></span></a>
<ul style="display: none;">
<li><a href="/student/dashboard">Student Dashboard</a></li>
</ul>
</li>
<li class="submenu">
<a href="#"><span class="menu-side"><img src="{{ url_for('static', filename='assets/img/icons/menu-icon-04.svg')}}" alt=""></span> <span> Appointments </span> <span class="menu-arrow"></span></a>
<ul style="display: none;">
<li><a class="active" href="/student/add-appointment">Make Appointment</a></li>
<li><a href="/student/appointments">Active Appointment</a></li>
<li><a href="/student/calendar">Calendar</a></li>
</ul>
</li>
<li class="submenu">
<a href="#"><i class="fa fa-edit"></i> <span> Record</span> <span class="menu-arrow"></span></a>
<ul style="display: none;">
<li><a href="/student/medical-history">Medical Records</a></li>
</ul>
</li>
<li class="submenu">
<a href="#"><span class="menu-side"><img src="{{ url_for('static', filename='assets/img/icons/menu-icon-12.svg')}}" alt=""></span> <span> Messages</span> <span class="menu-arrow"></span></a>
<ul style="display: none;">
<li><a href="/student/compose">Compose Message</a></li>
</ul>
</li>

</ul>
<div class="logout-btn">
<a href="/student/logout"><span class="menu-side"><img src="{{ url_for('static', filename='assets/img/icons/logout.svg')}}" alt=""></span> <span>Logout</span></a>
</div>
</div>
</div>
</div>
<div class="page-wrapper">
<div class="content">

<div class="page-header">
<div class="row">
<div class="col-sm-12">
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="/student/dashboard">Appointment </a></li>
<li class="breadcrumb-item"><i class="feather-chevron-right"></i></li>
<li class="breadcrumb-item active">Book Appointment</li>
</ul>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
<form action="/student/add-appointment-execute_nurse" method="post">
<div class="row">
<div class="col-12">
<div class="form-heading">
</div>
</div>
<div class="Payslip-head">
<div class="payrolss-counts">
<h5>Patient Details</h5>
   {% if error %}
    <p>{{ error }}</p>
    {% endif %}
<ul class="nav">
<li><a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg" alt=""></a></li>
<li><a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-02.svg" alt=""></a></li>
</ul>
</div>
</div>
<div class="payroll-head-clinic">
<div class="row">
<div class="col-12 col-sm-12">
<div class="invoice-counts">
</div>
</div>
</div>
</div>
<div class="row custom-invoice">
<div class="col-12 col-md-6 m-b-20">
<img src="{{ url_for('static', filename='assets/img/logo.png')}}" width="35" height="35" alt=""> <span>E-Health Services</span>
<ul class="list-unstyled invoice-clinic mt-2">
<li>Purok 3, Andress Bonifacio,
<li>Diffun, Quirino, Philippines</li>
<li>Pc:3401</li>
</ul>
</div>
<div class="col-12 col-md-6 m-b-20">
<div class="invoice-details">
<h3>Name: {{ admin['First_name'] }} {{ admin['Last_name'] }}</h3>
<h3>Student</h3>
<ul class="list-unstyled invoice-clinic">
<li>Student ID: {{ admin['idnumber'] }}</li>
<li>Mobile: {{ admin['Cp_number'] }}</li>
<li><a href="https://preclinic.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="0e6c6f7c7c776d7b6a6f4e6b766f637e626b206d6163">{{ admin['Email'] }}</a></li>
</ul>
</div>
</div>
</div>
<div class="col-1 col-sm-1">
<div class="form-group local-forms">
 <input class="form-control" type="hidden"  value="{{ admin['idnumber'] }}" name="idnumber">
</div>
</div>
<div class="col-1 col-sm-1">
<div class="form-group local-forms">
 <input class="form-control" type="hidden"  value="{{ admin['Course'] }}" name="course">
</div>
</div>
<div class="col-1 col-sm-1">
<div class="form-group local-forms">
 <input class="form-control" type="hidden"  value="{{ admin['Year_level'] }}" name="yearlevel">
</div>
</div>
<div class="col-1 col-sm-1">
<div class="form-group local-forms">
 <input class="form-control" type="hidden" value="{{ admin['Email'] }}" name="email">
</div>
</div>
<div class="col-1 col-md-1">
<div class="form-group local-forms">
<input class="form-control" type="hidden" value="{{ admin['First_name'] }}" name="firstname">
</div>
</div>
<div class="col-1 col-md-1 ">
<div class="form-group local-forms">
<input class="form-control" type="hidden" value="{{ admin['Middle_name'] }}" name="middlename">
</div>
</div>
<div class="col-1 col-md-1 ">
<div class="form-group local-forms">
<input class="form-control" type="hidden" value="{{ admin['Last_name'] }}" name="lastname">
</div>
</div>
<div class="col-1 col-md-1">
<div class="form-group local-forms">
<input class="form-control" type="hidden" value="{{ admin['Gender'] }}" name="gender">
</div>
</div>
<div class="col-1 col-md-1 ">
<div class="form-group local-forms">
<input class="form-control" type="hidden" value="{{ admin['Cp_number'] }}" name="mobile">
</div>
</div>
<div class="col-1 col-sm-1">
<div class="form-group local-forms">
 <input class="form-control" type="hidden" value="{{ admin['Home_Address'] }}" name="address">
</div>
</div>
<div class="col-12">
<div class="form-heading">
<h4>Appointment Details</h4>
</div>
</div>
<div class="col-12 col-md-6 col-xl-2">
<div class="form-group local-forms ">
<label>Select Date of Appointment <span class="login-danger">*</span></label>
<input type="text" id="datepicker" name="dateappointment">


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script>
	$(document).ready(function() {
		// Get disabled dates from Flask template variable
		var disabledDates = {{ disabled_dates | tojson }};

		// Disable weekends and holidays
		function disableDates(date) {
			var day = date.getDay();
			var formattedDate = $.datepicker.formatDate("yy-mm-dd", date);

			// Disable weekends (Saturday = 6, Sunday = 0)
			if (day === 6 || day === 0) {
				return [false];
			}

			// Disable dates from database
			if (disabledDates.indexOf(formattedDate) !== -1) {
				return [false];
			}

			return [true];
		}

		// Initialize date picker
		$("#datepicker").datepicker({
			minDate: 0,
			beforeShowDay: disableDates
		});
	});
	</script>

</div>
</div>

<div class="col-12 col-md-3 col-xl-4">
<div class="form-group local-forms">
<label>Select Time</label>
<select class="form-control select" name="time">
    <option>Select Time</option>
 <option>8:30am - 9:00am</option>
 <option>9:00am - 9:30am</option>
 <option>9:30am - 10:00am</option>
  <option>10:00am - 10:30am</option>
     <option>10:30am - 11:00am</option>
 <option>1:00pm - 1:30pm</option>
  <option>1:30pm - 2:00pm</option>
   <option>2:00pm - 2:30pm</option>
   <option>2:30pm - 3:00pm</option>
   <option>3:30pm - 4:00pm</option>
   <option>4:00pm - 4:30pm</option>
</select>
</div>
</div>




<div class="col-12 col-md-6 col-xl-4">
<div class="form-group local-forms">
<label>Treatment</label>
<select class="form-control select" name="treatment">
 <option>Select treatment</option>
<option>Vital Signs Checking</option>
<option>Inspection(Physical)</option>
<option>Cappillary Blood Glucose Test</option>
<option>Pregnancy Test</option>
</select>
</div>
</div>
<div class="col-12">
<div class="doctor-submit text-end">
<a href="/student/add-appointment" type="submit" class="btn btn-warning submit-form me-2">Go Back..</a>
<button type="submit" class="btn btn-primary submit-form me-2">Submit</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="delete_patient" class="modal fade delete-modal" role="dialog">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-body text-center">
<img src="{{ url_for('static', filename='assets/img/sent.png')}}" alt="" width="50" height="46">
<h3>Are you sure want to delete this ?</h3>
<div class="m-t-20"> <a href="#" class="btn btn-white" data-bs-dismiss="modal">Close</a>
<button type="submit" class="btn btn-danger">Delete</button>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="sidebar-overlay" data-reff=""></div>

<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/feather.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/select2.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/plugins/moment/moment.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap-datetimepicker.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/app.js')}}"></script>
</body>

</html>